# Distribution / packaging
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Serverless directories
.serverless

# Misc
.DS_Store
misc/
node_modules/
venv/
tmp/
.coverage
*.json
serverless.yml
